<?xml version="1.0"?>
<launch>
	<!-- undercarriage_control_node -->
	<node pkg="cob_undercarriage_ctrl" type="cob_undercarriage_ctrl_node" name="undercarriage_ctrl_node" respawn="false" output="screen">
		<remap from="command" to="/cmd_vel"/>
		<remap from="/odometry" to="/odom"/>
		<remap from="/emergency_stop_state" to="/relayboard_v2/emergency_stop_state"/>
		
	</node>
</launch>
